{% extends "layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span12">

            <div class="hero-unit" style="height: 200px">
                <img align="right" class="img-rounded" src="/img/trackback-spam.jpg">
                <h1>spamding.nl</h1>
                <p>Disposable spam boxes</p>
                <p>
                    <ol>
                        <li>Use <b>&lt;whatever&gt;@spamding.nl</b> as your email address.</li>
                        <li>Read your email at <b>http://spamding.nl/box/&lt;whatever&gt;</b></li>
                        <li>Forget about the box and annoying spam.</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well">
                <h3>Todays email stats</h3>

                <table class="table ">
                    <tr><td>Emails received</td><td>123 messages</td></tr>
                    <tr><td>Bytes received</td><td>1235 bytes</td></tr>
                    <tr><td>Unique mailboxes</td><td>5252</td></tr>
                </table>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h3>This weeks email stats</h3>

                <table class="table ">
                    <tr><td>Emails received</td><td>123 messages</td></tr>
                    <tr><td>Bytes received</td><td>1235 bytes</td></tr>
                    <tr><td>Unique mailboxes</td><td>5252</td></tr>
                </table>
            </div>
        </div>
        <div class="span4">
            <div class="well">
                <h3>This years email stats</h3>

                <table class="table ">
                    <tr><td>Emails received</td><td>123 messages</td></tr>
                    <tr><td>Bytes received</td><td>1235 bytes</td></tr>
                    <tr><td>Unique mailboxes</td><td>5252</td></tr>
                </table>
            </div>
        </div>

    </div>

{% endblock %}
